<div class="container mx-auto">
    <div class="flex p-12">
        <div class="flex flex-col justify-center w-1/2 space-y-12">
            <h2 class="text-5xl font-bold">Collaboration Tool for Efficient Teamwork</h2>
            <p>CollabHub is a user-friendly collaboration tool that streamlines teamwork and boosts productivity. Whether you're an individual or part of a team, CollabHub helps you stay organized and focused on your tasks.</p>

        </div>
        <div class="w-1/2 flex justify-center items-center p-6"> <!-- Added padding -->
            <img src="../../assets/hand-shake.png" alt="Collaborate" class="w-96 h-96">
        </div>
    </div>
    <div class="mt-8 min-h-screen">
        <h2 class="mx-auto text-4xl font-bold text-center max-w-3xl mb-6">Get Started with CollabHub: A Simple Collaboration Tool</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
            <div class="space-y-4 text-center font-medium">
                <img src="../../assets/adobe_stock10.jpg" alt="Teamwork" class="w-96 h-64 p-4">
                <h3 class="text-xl font-semibold px-4">Organize Tasks Efficiently with CollabHub</h3>
                <p class="font-medium">CollabHub is a user-friendly collaboration tool that helps individuals and teams manage tasks effectively.</p>
                <p>Learn More ></p>
            </div>
            <div class="space-y-4 text-center font-medium">
                <img src="../../assets/orgchart-matching-people.jpeg" alt="Management" class="w-96 h-64 p-4">
                <h3 class="text-xl font-semibold">Stay on Track with CollabHub's Task Management Features</h3>
                <p class="font-medium">With CollabHub, you can easily track the progress of ongoing tasks and stay organized.</p>
                <p>Pricing</p>
            </div>
            <div class="space-y-4 text-center font-medium">
                <img src="../../assets/adobe_stock15.jpg" alt="Multitasking" class="w-96 h-64 p-4">
                <h3 class="text-xl font-semibold">Collaborate Seamlessly with CollabHub's Teamwork Tools</h3>
                <p class="font-medium">CollabHub provides a platform for smooth collaboration and effective teamwork.</p>
                <p>FAQ</p>
            </div>
        </div>
    </div>
    <div class="flex border-t border-gray-300 ">
        <div class="w-1/2 space-y-8 mt-12 p-4">
            <div class="">
                <h3 class="text-2xl font-semibold mb-2">Task Creation and Management</h3>
                <p>Easily create, assign, and track tasks to stay organized and productive. Collaborate with your team members to ensure efficient task completion.</p>
            </div>
            <div class="">
                <h3 class="text-2xl font-semibold mb-2">Progress Tracking</h3>
                <p>Monitor the progress of your tasks and projects in real-time. Get a clear overview of completed, ongoing, and upcoming tasks to stay on top of your work.</p>
            </div>
            <div class="">
                <h3 class="text-2xl font-semibold mb-2">Team Collaboration</h3>
                <p>Collaborate seamlessly with your team members. Share files, exchange ideas, and communicate effectively to achieve your project goals together.</p>
            </div>
        </div>
        <div class="w-1/2">
            <img src="../../assets/adobe_stock66.jpg" alt="Collaborate" class="">
        </div>
    </div>
    <div class="border-t border-gray-300 "></div>
    <div class="py-12">
        <div class="text-center mb-8">
            <h2 class="text-3xl font-bold mb-2">Happy Customers</h2>
            <p>Hear what our customers have to say</p>
        </div>
        <div class="flex overflow-x-auto space-x-4">
            <!-- Customer Review Cards -->
            <div class="bg-zinc-300 shadow-md rounded-lg p-6 flex-shrink-0" style="width: 300px;">
                <div class="flex items-center mb-4">
                    <span class="text-xl">&#9733;</span>
                    <span class="text-xl">&#9733;</span>
                    <span class="text-xl">&#9733;</span>
                    <span class="text-xl">&#9733;</span>
                    <span class="text-xl">&#9734;</span>
                </div>
                <p class="">Collabhub has made collaboration so much easier for our team.</p>
                <div class="flex flex-row items-center space-x-2 mt-4">
                    <div class="flex items-center justify-center rounded-full bg-white w-8 h-8">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <div class="">
                        <p class="text-gray-800 font-semibold">John Smith</p>
                        <p class="text-gray-500 txt-sm">Project Manager, Alphabeth</p>
                    </div>
                </div>
            </div>
            <div class="bg-zinc-300 shadow-md rounded-lg p-6 flex-shrink-0" style="width: 300px;">
                <div class="flex items-center mb-4">
                    <span class="text-xl">&#9733;</span>
                    <span class="text-xl">&#9733;</span>
                    <span class="text-xl">&#9733;</span>
                    <span class="text-xl">&#9733;</span>
                    <span class="text-xl">&#9733;</span>
                </div>
                <p class="">I highly recommend Collabhub for efficient task management.</p>
                <div class="flex flex-row items-center space-x-2 mt-4">
                    <div class="flex items-center justify-center rounded-full bg-white w-8 h-8">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <div class="">
                        <p class="text-gray-800 font-semibold">Jane Doe</p>
                        <p class="text-gray-500 text-sm">CEO, ABC Corporation</p>
                    </div>
                </div>
            </div>
            <div class="bg-zinc-300 shadow-md rounded-lg p-6 flex-shrink-0" style="width: 300px;">
                <div class="flex items-center mb-4">
                    <span class="text-xl">&#9733;</span>
                    <span class="text-xl">&#9733;</span>
                    <span class="text-xl">&#9733;</span>
                    <span class="text-xl">&#9733;</span>
                    <span class="text-xl">&#9734;</span>
                </div>
                <p class="">Collabhub has revolutionized how our team collaborates on projects.</p>
                <div class="flex flex-row items-center space-x-2 mt-4">
                    <div class="flex items-center justify-center rounded-full bg-white w-8 h-8">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <div class="">
                        <p class="text-gray-800 font-semibold">David Johnson</p>
                        <p class="text-gray-500 text-sm">Marketing Manager, 123 Company</p>
                    </div>
                </div>
            </div>
            <div class="bg-zinc-300 shadow-md rounded-lg p-6 flex-shrink-0" style="width: 300px;">
                <div class="flex items-center mb-4">
                    <span class="text-xl">&#9733;</span>
                    <span class="text-xl">&#9733;</span>
                    <span class="text-xl">&#9733;</span>
                    <span class="text-xl">&#9733;</span>
                    <span class="text-xl">&#9733;</span>
                </div>
                <p class="">I highly recommend Collabhub for efficient task management.</p>
                <div class="flex flex-row items-center space-x-2 mt-4">
                    <div class="flex items-center justify-center rounded-full bg-white w-8 h-8">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <div class="">
                        <p class="text-gray-800 font-semibold">Daniel Brown</p>
                        <p class="text-gray-500 text-sm">Project Manager, Google.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-12 bg-gray-400 rounded-lg mb-12 space-y-4 text-center">
        <div class="">
            <h3 class="text-5xl font-bold mb-2">Collaborate and Get Things Done</h3>
            <p class="">Sign up for CollabHub and experience seamless collaboration and task management.</p>
            <div class="space-x-4 font-semibold mt-4">
                <a href="" class="bg-green-300 py-3 px-4 rounded-md hover:bg-green-400 transition-colors">Get Started</a>
                <a href="" class="text-orange-700 hover:underline">Learn More</a>
            </div>
        </div>
    </div>
</div>

