<header>
    <div class="bg-gray-800 text-white">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex justify-between h-16 items-center">
                <div class="flex items-center">
                    <div class="text-lg font-bold">
                        <a routerLink="/" class="text-white hover:text-gray-300">CollabHub</a>
                    </div>
                </div>
                <div class="flex items-center">
                    <a routerLink="tasks/all" class="text-sm font-medium text-white hover:text-gray-300 ml-4">Collaboration</a>
                    <a routerLink="" class="text-sm font-medium text-white hover:text-gray-300 ml-4">Features</a>
                    <a routerLink="" class="text-sm font-medium text-white hover:text-gray-300 ml-4">Pricing</a>
                    <a routerLink="" class="text-sm font-medium text-white hover:text-gray-300 ml-4">More &#711;</a>
                </div>
                <div class="flex items-center flex-row">
                    <div *ngIf="isLoggedIn" class="mr-6 flex space-x-4">
                        <a routerLink="/profile"  class="text-sm font-medium text-white hover:text-gray-300 cursor-pointer">Profile</a>
                        <a routerLink="/calendar" class="text-sm font-medium text-white hover:text-gray-300 cursor-pointer">Calendar</a>
                        <a (click)="logout()" class="ml-4 text-sm font-medium text-white hover:text-gray-300 cursor-pointer">Logout</a>
                    </div>
                    <div *ngIf="!isLoggedIn" class="mr-6">
                        <a routerLink="/login" class="text-sm font-medium text-white hover:text-gray-300 cursor-pointer">Login</a>
                        <a routerLink="/register" class="ml-4 text-sm font-medium text-white hover:text-gray-300 cursor-pointer">Signup</a>
                    </div>
                    <img *ngIf="isLoggedIn" class="h-10 w-10 rounded-full object-cover" src="https://images.unsplash.com/photo-1564564295391-7f24f26f568b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="User">
                </div>
            </div>
        </div>
    </div>
</header>
