<div class="min-h-screen">
    <div class="bg-gray-200 flex justify-around py-4">
        <h4>New</h4>
        <h4>Ongoing</h4>
        <h4>Group</h4>
        <h4>Calender</h4>
    </div>
    <div class="container mx-auto ">
        <h3>Ongoing</h3>
        <table class="w-3/5 text-sm text-left text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="py-3 px-6">Project</th>
                    <th scope="col" class="py-3 px-6">Members</th>
                    <th scope="col" class="py-3 px-6">Deadline</th>
                </tr>
            </thead>
            <tbody>
                <!-- Example row -->
                <tr class="bg-white border-b">
                    <td class="py-4 px-6">New Website</td>
                    <td class="py-4 px-6">John, Jane, Doe</td>
                    <td class="py-4 px-6">2024-12-31</td>
                </tr>
                <!-- Additional rows as needed -->
            </tbody>
        </table>
    </div>
</div>