<div class="min-h-screen">
    <div class="bg-gray-200 flex justify-around py-4">
        <h4>New</h4>
        <h4>Ongoing</h4>
        <h4>Group</h4>
        <h4>Calender</h4>
    </div>
    <div class="container mx-auto ">
        <h3>Ongoing</h3>
        <table class="w-3/5 text-sm text-left text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="py-3 px-6">Project</th>
                    <th scope="col" class="py-3 px-6">Members</th>
                    <th scope="col" class="py-3 px-6">Deadline</th>
                </tr>
            </thead>
            <tbody>
                <!-- Example row -->
                <tr class="bg-white border-b">
                    <td class="py-4 px-6">New Website</td>
                    <td class="py-4 px-6">John, Jane, Doe</td>
                    <td class="py-4 px-6">2024-12-31</td>
                </tr>
                <!-- Additional rows as needed -->
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="tasks.length > 0; else noTasks">
    <h2>Tasks</h2>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Status</th>
          <th>Created By</th>
          <th>Start</th>
          <th>End</th>
          <th>Users</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td>{{ task.title }}</td>
          <td>{{ task.description }}</td>
          <td>{{ task.status }}</td>
          <td>{{ task.created_by }}</td>
          <td>{{ task.start | date }}</td>
          <td>{{ task.end | date }}</td>
          <td>
            <ul>
              <li *ngFor="let user of task.users">{{ user }}</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noTasks>
    <p>No tasks available</p>
  </ng-template>
  